/* Main Styling */

body,
html {
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  font-family: "IBM Plex Sans", sans-serif;
}

.main-container {
  margin: 2em 4em;
}

.navbar {
  background: #ffffff;
  height: 76px;
  border-radius: 6px;
  box-shadow: 0 0 10px 6px rgba(33, 33, 33, 0.015);
  padding: 0.4em 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 46px;
  }

  .menu-items ul {
    display: flex;
    flex-direction: row;

    li {
      margin: 0 26px;
      list-style: none;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;

      a {
        text-decoration: none;
        color: #222222;

        &:hover {
          color: #f55c47;
        }
      }
    }
  }
}

.active a {
  color: #f55c47 !important;
}

.content-wrap {
  .content {
    margin-top: 44px;

    p {
      font-size: 18px;
      line-height: 1.8em;
    }
    button {
      border: none;
      padding: 0.9rem 3rem;
      background: #f55c47;
      color: #ffffff;
      font-size: 0.9rem;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 12px;
    }
    button:hover,
    button:focus {
      background: #f55c47;
    }

    button:focus {
      outline: 1px solid rgba(255, 255, 255, 0.2);
      outline-offset: -4px;
    }

    button:active {
      transform: scale(0.99);
    }
  }
}
